/* En tu archivo CSS o CSS module */
.backgroundImage {
    background-image: url('../header.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Para dispositivos móviles */
  @media (max-width: 768px) {
    .backgroundImage {
      background-position: right center;
    }
  }
  
  /* Para dispositivos de escritorio */
  @media (min-width: 769px) {
    .backgroundImage {
      background-position: center center;
    }
  }